<h1>Editing User</h1>

  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>
     <div class="submit-field">
      <%= form.submit %>
    </div>
  <% end %>

<%= link_to 'Back', @user %>
