/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body {
    background-color: #8caeaf;
    font-family: 'Inter', sans-serif;
}

.signed_in {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.albums {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 400px;
    height: 170px;
    border-radius: 37px;
    background: #8caeaf;
    box-shadow:  8px 8px 21px #667f80, 
                 -8px -8px 21px #b2ddde;
}

.album_details {
    font-size: small;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.index_actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.album_show_image {
    width: 25%; 
    height: auto;
    margin: 30px;
    border-radius: 37px;
    background: #8caeaf;
    box-shadow:  8px 8px 21px #667f80, 
             -8px -8px 21px #b2ddde;
}

a:hover {
    font-weight: bold;
}

.image_index {
    border-radius: 23px;
    width: 100px;
    height: 100px;
}

.image_index:hover {
    width: 105px;
    height: 105px;
}