/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body {
    background-color: #8caeaf;
    font-family: 'Inter', sans-serif;
}

.signed_in {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.login_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.login_path {
    display: flex;
    justify-self: center;
    justify-content: center;
    align-content: space-around;
    padding: 20px;
    height: 350px;
    width: 350px;
    border-radius: 21px;
    background: #8caeaf;
    box-shadow:  9px 9px 21px #384646, 
             -9px -9px 21px #e0ffff;
}

a:hover {
    font-weight: bold;
}

.albums_con {

}

.album {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 50px;
    width: 500px;
    height: 200px;
    border-radius: 37px;
    background: #8caeaf;
    box-shadow:  8px 8px 21px #667f80, 
                 -8px -8px 21px #b2ddde;
}

.image_index {
    width: 135px;
    height: 135px;
    border-radius: 30px;
    background: #8caeaf;
    box-shadow: inset -5px -5px 9px #455556, 
    inset 5px 5px 9px #d3ffff;
}

.image_index:hover {
    opacity: 85%;
    width: 155px;
    height: 155px;
}

.album_details {
    font-size: small;
    display: flexbox;
    flex-direction: column;
    justify-content: center space-around;
    flex-wrap: wrap;
    
}

.index_actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.album_show_image {
    width: 25%; 
    height: auto;
    margin: 30px;
    border-radius: 37px;
    background: #8caeaf;
    box-shadow:  8px 8px 21px #667f80, 
                -8px -8px 21px #b2ddde;
}